<!DOCTYPE html>
<html>
<head>
    <title>NewsHub</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>NewsHub</h1>

    <p>사용자 맞춤형 뉴스 큐레이션 서비스</p>

    <form method="GET" action="/">
        <input
            type="text"
            name="q"
            placeholder="관심 있는 뉴스를 검색하세요"
            value="{{ query }}"
        >
        <button type="submit">검색</button>
    </form>
    <nav>
        <button>스포츠</button>
        <button>연예</button>
        <button>경제</button>
        <button>IT</button>
        <button>사회</button>
        <button>생활문화</button>
    </nav>

    <main>

        <h2>오늘의 뉴스</h2>

        {% for news in news_list %}
        <article>
            <h3>{{ news.title }}</h3>

            <small>{{ news.date }} | {{ news.source }}</small>

            <p>{{ news.content }}</p>
        </article>
        {% endfor %}

    </main>

    <footer>
        <button type="button">홈</button>
        <button type="button">전체기사</button>
        <button type="button">즐겨찾기</button>
        <button type="button">로그인</button>
    </footer>

</body>
</html>